.disclaimer-bar {
  background-color: #333333; /* Dark background */
  padding: 15px;
  border-top: 1px solid #555555;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  color: #cccccc; /* Lighter text */
}

.disclaimer-bar p {
  margin: 0;
  font-size: 0.9rem;
}